= form_for(:scan_progress, :url => "", :html => { :id => "scan_progress" }) {}
:javascript
  uploader = new Uploader('scan_progress', {
    url: '#{scan_path(@scan, :json)}'
  });
  uploader.start();
