<div class="photo">
<div class="description">
  <p>
    <b>Name:</b>
    <%= yux_in_place_edit_text(user_album_photo_path(@photo.user, @photo.album, @photo), :model => @photo, :attribute => :name) %>
  </p>
  
  <p>
    <b>Description:</b>
    <%= yux_in_place_edit_text(user_album_photo_path(@photo.user, @photo.album, @photo), :model => @photo, :attribute => :description) %>
  </p>
  
  <p>
    <b>Date:</b>
    <%= @photo.date %>
  </p>
</div>
<div class="image">
  <%= yux_link_to_with_photo(@photo.photo.thumb.url, @photo.photo.lightbox.url, :rel => :lightbox, :title => @photo.name) %>
</div>
<div class="clear"></div>
